## Java

*.class
*.war
*.ear

## Intellij
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml


## Gradle
.gradle/
gradle-app.setting
build/

## OS Specific
.DS_Store
Thumbs.db

## General
*.log

local.properties